<a href="https://colab.research.google.com/github/Mohasg77/module/blob/module/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series([1,3,5,7,6.5])
s

0    1.0
1    3.0
2    5.0
3    7.0
4    6.5
dtype: float64

In [4]:
dates = pd.date_range("19980101",periods=10)
dates

DatetimeIndex(['1998-01-01', '1998-01-02', '1998-01-03', '1998-01-04',
               '1998-01-05', '1998-01-06', '1998-01-07', '1998-01-08',
               '1998-01-09', '1998-01-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(np.random.randn(10,4),index =dates, columns=['A','B','C','D'] )
df

In [6]:
d = {
     "A":1.0,
     "B":pd.Timestamp("20210203"),
     "C":pd.Series(1,index=list(range(4)) ,dtype="float16"),
     "D":np.array([3]*4, dtype="int8"),
     "E":pd.Categorical(["test","train",'test',"train"]),
     "F":"fff"
}
d
c = pd.Categorical(["test","train",'test',"train"])
c.add_categories("xxxxx")
c
pd.DataFrame(d)

     A          B    C  D      E    F
0  1.0 2021-02-03  1.0  3   test  fff
1  1.0 2021-02-03  1.0  3  train  fff
2  1.0 2021-02-03  1.0  3   test  fff
3  1.0 2021-02-03  1.0  3  train  fff

In [ ]:
from pandas import *

D = DataFrame(
    { "bank" : ["saman" , "vtejarat" , "vayand" , "khavar"],
      "medicinal" : ["barakat" , "dsobhan" , "dtmad" , "dtolid"],
      "chemistery" : ["petrol" , "jahrom" , "darab" , "arya"],
      "oil" : ["shapna" , "shabandar" , "shavan" , "shetran"]
     }
     )
b = ["8:30-9:30" , "8:30-9:30" , "8:30-9:30" , "8:30-9:30"]
D.index = b
D.iloc[ : 20 , : 20]

               bank medicinal chemistery        oil
8:30-9:30     saman   barakat     petrol     shapna
8:30-9:30  vtejarat   dsobhan     jahrom  shabandar
8:30-9:30    vayand     dtmad      darab     shavan
8:30-9:30    khavar    dtolid       arya    shetran